p{
    font-size: large;
}

.top{
    background-image:url("phictures/hdd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 250%;
}

.navbar{
    position: sticky;
    top: 0;
}

body{
    font-family: 'Goldman', cursive;
    background-color: #d3d6ce;
    
}

html {
    scroll-behavior: smooth;
  }



#wrapper{
    max-width: 900px;
    margin: auto;
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2%;
    border: 3px solid gray;
}

h1, h2{
    border-bottom: 3px solid gray;
}

.o1, .m1{
    float: right;
    max-width: 60%;
    border-radius: 15px;
}

.o2, .m2{
    float: left;
    max-width: 60%;
    border-radius: 15px;
    margin:3% ;
}

.o3, .m3{
    float: right;
    max-width: 70%;
    border-radius: 15px;
    margin:3% ;
    
}

